@using Model;
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Продукты";
}

<link href="@Url.Content("/Content/PagedList.css")" rel="stylesheet"
      type="text/css" />

<h2>Продукты</h2>

@foreach (var item in Model)
{
    <div style="margin: 20px 0 20px 0; border: 1px solid grey;">
        <img width="75" height="75" src="@Url.Action("GetImage", "Product", new { item.Id })" />
        @Html.ActionLink((string)item.Name, "ShowProduct", "Product", new { item.Id }, null)
        <p>Цена: @item.Price.ToString("0.00") руб.</p>
        <p>Наличие: @item.Availability шт.</p>
    </div>
}

<div style="text-align: center;">
    @Html.PagedListPager((IPagedList)Model, Page => Url.Action("ShowItems", new { Page }), new PagedListRenderOptions()
         {
             LinkToFirstPageFormat = "<<",
             LinkToPreviousPageFormat = "Назад",
             LinkToNextPageFormat = "Вперед",
             LinkToLastPageFormat = ">>"
         })
</div>