@using Model;
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Продукты";
}

<link href="@Url.Content("/Content/PagedList.css")" rel="stylesheet"
      type="text/css" />

<h2>Продукты</h2>


    @foreach (var item in Model)
    {
        <div style="margin: 20px 0 20px 0; border: 1px solid grey; width: 550px; margin-left: 20px; border-radius: 4px; padding-left: 20px;">
            <div class="row" style="margin: 5px 0 5px 0;">
                <div class="col-md-4">
                    <img width="150" height="150" src="@Url.Action("GetImage", "Product", new { item.Id })" />
                </div>
                <div class="col-md-8">
                    @Html.ActionLink((string)item.Name, "ShowProduct", "Product", new { item.Id }, null)
                    <div style="margin-top: 20px; text-align: right;">
                        <span class="product-item-price">
                            @item.Price.ToString("0.00") руб.
                        </span>
                    </div>
                    <div style="margin-top: 20px; text-align: right;">
                        <span>Наличие: @item.Availability шт.</span>
                    </div>
                </div>
            </div>
        </div>
    }


                <div style="text-align: center;">
                    @Html.PagedListPager((IPagedList)Model, Page => Url.Action("ShowItems", new { Page }), new PagedListRenderOptions()
         {
             LinkToFirstPageFormat = "<<",
             LinkToPreviousPageFormat = "Назад",
             LinkToNextPageFormat = "Вперед",
             LinkToLastPageFormat = ">>"
         })
                </div>
